.ico-mono-burger {
  width: 1.75em;
  height: 1em;
  fill: #A1652C;
}
.ico-mono-facebook {
  width: 0.55em;
  height: 1em;
  fill: #fff;
}
.ico-mono-footer-logo {
  width: 12.33em;
  height: 1em;
  fill: #303030;
}
.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logo {
  width: 1.13em;
  height: 1em;
  fill: #A1652C;
}
.ico-mono-main-logo {
  width: 1.14em;
  height: 1em;
  fill: #A1652C;
}
