section.certificate
    .l-default 
        .certificate__wrapper
            .certificate__logo
                img.lazy(data-src="img/svg/certificate/certificate.svg", alt="")
            .certificate__text.element-animation Производство сертифицированопо стандарту HACCP