-
    const stages = [
        {
            icon: "1",
            text: "Закупка: покупаем зерно только у проверенных фермеров, которые гарантируют качество"
        },
        {
            icon: "2",
            text: "Калибровкаи пропаривание: в несколько этапов сортируем зерно на крупную, среднюю и мелкую фракцию; осуществляем пропаривание"
        },
        {
            icon: "3",
            text: "Очистка: на протяжении всего производства сырье проходит 5 этапов очистки от сора, зерновой примеси и шелухи"
        },
        {
            icon: "4",
            text: "Расплющивание: происходит на вальцевом станке до толщины 0,4 мм"
        },
        {
            icon: "5",
            text: "Порезка: осуществляется навысокоточном немецком оборудовании, что позволяет делить зерно на равные фракции"
        },
        {
            icon: "6",
            text: "Фасовка: фасуем хлопья в необходимые форматы"
        }
    ]

section.stages#stages
    .l-default 
        h2.stages__title.title.title--h2.element-animation этапы нашего производства:
        .stages__list
            each stages_item in stages
                .stages__list-item.element-animation 
                    .stages__list-icon
                        img.lazy(data-src="img/svg/stages/" + stages_item.icon + ".svg", alt="") 
                    .stages__list-text= stages_item.text