section.brand#brand
    .l-default
        .brand__wrapper
            .brand__info 
                h2.brand__title.title.title--h2.element-animation НАШ НОВЫЙ БРЕНД ПРОВЕРЕННЫХ ОВСЯНЫХ ХЛОПЬЕВ
                .brand__text.element-animation Мы создали только благодаря уверенности в собственном продукте и 20 годам опыта
                .brand__info-img.element-animation 
                    picture
                        source(data-srcset="img/brand/plate.webp" type="image/webp")
                        source(data-srcset="img/brand/plate.png" type="image/png")
                        img.lazy(data-src="img/brand/plate.png" alt="")
            .brand__img.element-animation 
                picture
                    source(data-srcset="img/brand/brand.webp" type="image/webp")
                    source(data-srcset="img/brand/brand.png" type="image/png")
                    img.lazy(data-src="img/brand/brand.png" alt="")