section.coloss(style="background: url('.././img/coloss/bg.jpg'); background-size: cover;")
    .l-default
        .coloss__info 
            h2.coloss__title.title.title--h2.element-animation КАЧЕСТВЕННЫЕ ОВСЯНЫЕ ХЛОПЬЯ
            .coloss__text.element-animation результат долгой работы и учета всех "подводных камней", возможных нюансов и тонкостей. Их понимание приходит только ценой затраченного времени и формирования опыта. 
    .coloss__back
        picture
            source(srcset="img/coloss/back.webp" type="image/webp")
            source(srcset="img/coloss/back.png" type="image/png")
            img(src="img/coloss/back.png" alt="")