footer.footer
    .l-default
        .footer__wrapper  
            a.footer__policy(href="#popup-policy" data-fancybox) Політика конфиденціальності
            .footer__policy ©2021  Otti
            .footer__logo 
                +svgMono("footer-logo")